@font-face{
    font-family:lemontea;
    src: url(LETRA2.ttf);}

h1{
    font-family:lemontea;
    margin-top: 0px;
    text-align: center;
    background: #d6a64c;
    padding: 35px;

}
body {
    background-color: #ffffff;
}
body{ 
    color:#000b04;
    font-size: 30px;
    font-family:lemontea;
    padding: 0%;
    margin: 0%;
}
.sec-1{
    margin: -150px 250px;
    overflow: hidden;
 }
img {
    transition: 0.5s;
    object-fit: cover;
}
img:hover{
    transform: scale(1.09);
} 
.keys{
    display: grid;
    cursor: pointer;
    gap: 0px;
    justify-content:initial;
    margin: 158px 0px;
    }
    

.white{
    background: linear-gradient( rgb(255,255,255) 97%, rgb(202, 196, 196) 3%);
    width: 140px;
    height: 80px;
    margin: 0 0px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top: 2px solid black;
    border-width: 2px solid black;
    border: 2px solid black;
    text-align:center;
    line-height: 90px;
    transition: 0.5s;
    object-fit: cover;

    &:active{
        background: linear-gradient(rgb(85, 83, 83) 97%, rgb(102, 98, 98) 3%)
    }
}
.black{
    position:relative;
    z-index: 2;
    margin: -20px;
    background: linear-gradient(rgb(30, 30, 30) 35%, rgb(0, 0, 0));
    width: 90px;
    height: 30px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    
    &:active{
        background: black;
    }
    }
.white:hover{
    transform: scale(1.09);
}
.black:hover{
    transform:scale(1.09);
}
a.key {
    color: black;
    text-decoration: none;
    }
    .white1{
        background: linear-gradient( rgb(255,255,255) 97%, rgb(202, 196, 196) 3%);
        width: 140px;
        height: 80px;
        margin: 0 0px;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
        border-top: 2px solid black;
        border-width: 2px solid black;
        border: 2px solid black;
        text-align:center;
        line-height: 90px;
        transition: 0.5s;
        object-fit: cover;
    
        &:active{
            background: linear-gradient(rgb(85, 83, 83) 97%, rgb(102, 98, 98) 3%)
        }
    }
    .white2{
        background: linear-gradient( rgb(255,255,255) 97%, rgb(202, 196, 196) 3%);
        width: 140px;
        height: 80px;
        margin: 0 0px;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
        border-top: 2px solid black;
        border-width: 2px solid black;
        border: 2px solid black;
        text-align:center;
        line-height: 90px;
        transition: 0.5s;
        object-fit: cover;
    
        &:active{
            background: linear-gradient(rgb(85, 83, 83) 97%, rgb(102, 98, 98) 3%)
        }
    }
    .white3{
        background: linear-gradient( rgb(255,255,255) 97%, rgb(202, 196, 196) 3%);
        width: 140px;
        height: 80px;
        margin: 0 0px;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
        border-top: 2px solid black;
        border-width: 2px solid black;
        border: 2px solid black;
        text-align:center;
        line-height: 90px;
        transition: 0.5s;
        object-fit: cover;
    
        &:active{
            background: linear-gradient(rgb(85, 83, 83) 97%, rgb(102, 98, 98) 3%)
        }
    }
    .white1:hover{
        transform: scale(1.09);
        position:static
    }
    .white2:hover{
        transform: scale(1.09);
        position: static;
    }
    .white3:hover{
        transform: scale(1.09);
        position: static;
    }
.white10{
    background: linear-gradient( rgb(255,255,255) 97%, rgb(202, 196, 196) 3%);
    width: 155px;
    height: 80px;
    margin: 0 0px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top: 2px solid black;
    border-width: 2px solid black;
    border: 2px solid black;
    text-align:center;
    line-height: 90px;
    transition: 0.5s;
    object-fit: cover;

    &:active{
        background: linear-gradient(rgb(85, 83, 83) 97%, rgb(102, 98, 98) 3%)
    }
}
.white10:hover{
    transform:scale(1.09);
    position: static;
}
.white20{
    background: linear-gradient( rgb(255,255,255) 97%, rgb(202, 196, 196) 3%);
    width: 155px;
    height: 80px;
    margin: 0 0px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top: 2px solid black;
    border-width: 2px solid black;
    border: 2px solid black;
    text-align:center;
    line-height: 90px;
    transition: 0.5s;
    object-fit: cover;

    &:active{
        background: linear-gradient(rgb(85, 83, 83) 97%, rgb(102, 98, 98) 3%)
    }
}
.white20:hover{
    transform: scale(1.09);
    position: static;
}
.white30{
    background: linear-gradient( rgb(255,255,255) 97%, rgb(202, 196, 196) 3%);
    width: 155px;
    height: 80px;
    margin: 0 0px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top: 2px solid black;
    border-width: 2px solid black;
    border: 2px solid black;
    text-align:center;
    line-height: 90px;
    transition: 0.5s;
    object-fit: cover;

    &:active{
        background: linear-gradient(rgb(85, 83, 83) 97%, rgb(102, 98, 98) 3%)
    }
}
.white30:hover{
    transform: scale(1.09);
    position: static;
    }
    .btn-login {
        background-color: #d6a64c;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 30rem;
        margin-top: 10rem;
        cursor: pointer;
        border-radius: 22px;
        padding: .750em 1.786em;
        line-height: 1em;
        top: -52.8rem; 
        left: 18rem;
        position: relative;
    }
    .btn-login:hover {
        background-color: #b98a36;
    }
    .btn-login2 {
        background-color: #d6a64c;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 30rem;
        margin-top: 10rem;
        cursor: pointer;
        border-radius: 22px;
        padding: .750em 1.786em;
        line-height: 1em;
        top: -55rem; 
        left: 28.9rem;
        position: relative;
    }
    .btn-login2:hover {
        background-color: #b98a36;
    }
    .navbar {
        background-color: #d6a64c; /* Color ocre */
        padding: 10px 0;
    }
    
    .nav-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    .nav-item {
        margin: 0 15px;
    }
    
    .nav-item a {
        text-decoration: none;
        color: #fff; /* Color blanco para el texto */
        font-size: 18px;
        padding: 8px 12px;
        border-radius: 4px;
        transition: background-color 0.3s, color 0.3s;
    }
    
    .nav-item a:hover {
        background-color: #b98a36; /* Ocre más oscuro en hover */
        color: #fef6e4; /* Color muy claro para el texto en hover */
    }